/* source |Montserrat typeface by Julieta Ulanovsky via Google Fonts: https://fonts.google.com/specimen/Montserrat?query=montserrat */
@font-face {
  font-family: Montserrat; 
  src: url('/src/Montserrat-VariableFont_wght.ttf');
  font-weight: 100 1000; 
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #191BA9;
  background-color:  #ffffff;
  text-rendering: optimizeLegibility;
  overflow: clip;
}

/* source | Layout with header on left for large screens and top for small screens inspired by Sidey by Ronalds Vilciņš: https://github.com/ronv/sidey */
main {
  display: flex;
  flex-wrap: wrap;
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  height: calc(100vh - 6rem);
}

header {
  flex-basis: 10rem;
  flex-grow: 1;
  position: relative;
  padding: 1rem;
  justify-content: space-between;
}

section {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 70%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
}

#logoImg {
  max-width: 100%;
  max-height: 100%;
}

#desc {
  margin-top: 0;
}

a {
  font-variant: all-small-caps;
}

li {
  list-style-type: none;
  font-weight: 700;
}


li p {
  font-weight:300;
  margin:0;
}

li p a:hover {
  font-weight:600;
}

.title {
  cursor: pointer;
}

.title:hover {
  font-weight: 850;
}

#zeroDetail {
  display: none;
  margin:0;
  padding:0.5rem 0;
  border-top:3px #191BA9 solid;
  border-bottom:3px #191BA9 solid;
}

#oneDetail {
  display: none;
  margin:0;
  padding:0.5rem 0;
  border-top:3px #191BA9 solid;
  border-bottom:3px #191BA9 solid;
}

li#two {
  color: #BABDF3;
}

li#three {
  color: #CBCEF6;
}

li#four {
  color: #DCDEF9;
}

li#five {
  color: #EDEEFC;
}

a {
  color: #191BA9;
}

p a:hover {
  font-weight: 600;
}

li a:hover {
  font-weight: 1000;
}

#socialMobile {
  display: none;
}

#socialDesktop {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
}

.socialImg {
  height: 1.5rem;
  padding: 0.1rem;
}

.socialImg:hover {
  height:1.7rem;
  padding: 0;
}

#credo {
  margin-bottom: 0.5rem;
}

#credo p {
  margin-bottom: 0;
}

@media screen and (max-width: 45rem ) {
  main {
    margin: 0 auto;
    padding: 0.5rem;
    height: calc(100vh - 2rem);
    align-content: flex-start;
  }

  header {
    height: 5rem;
    display: inline;
    padding-top: 0;
    padding-bottom: 0;
  }

  section {
    padding: 1rem 0;
  }

  li {
    line-height: 1.5rem;
  }

  header div:first-child {
    height: 100%;
  }

  #credo {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1rem;
  }

  #logoImg {
    float: right;
  }

  #socialDesktop {
    display: none;
  }

  #socialMobile {
    display: inherit;
  }
}