/* Montserrat typeface by Julieta Ulanovsky via Google Fonts: https://fonts.google.com/specimen/Montserrat?query=montserrat */
@font-face {
  font-family: Montserrat; src: url('/src/Montserrat-VariableFont_wght.ttf'); 
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  color: #191BA9;
  background-color:  #ffffff;
  text-rendering: optimizeLegibility;

}

/* Layout with header on left for large screens and top for small screens inspired by Sidey by Ronalds Vilciņš: https://github.com/ronv/sidey */
header {
  flex-basis: 10rem;
  flex-grow: 1;
  position: relative;
  padding: 1rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  justify-content: space-between;
  height: calc(100vh - 6rem);
}

section {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 70%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
}

#logoImg {
  max-width: 100%;
  max-height: 100%;
}

#desc {
  margin-top: 0;
}

li {
  list-style-type: none;
  font-weight: 1000;
}

#legal {
  font-size: 0.7rem;
  position: absolute;
  bottom: 2rem;
}

#socialMobile {
  display: none;
}

.social img {
  height: 1.5rem;
  padding-right: 0.1rem;
}

@media screen and (max-width: 45rem ) {
  main {
    margin: 0 auto;
    padding: 0.5rem;
  }

  header {
    height: 5rem;
    display: inline;
    padding-top: 0;
    padding-bottom: 0;
  }

  section {
    padding: 1rem 0;
  }

  li {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  #logoImg {
    float: right;
  }

  #socialDesktop, #legal {
    display: none;
  }

  #socialMobile {
    display: inherit;
    position: absolute;
    bottom: 3.5rem;
  }

  #legal {
    bottom: 1rem;
  }
}