@font-face {
  font-family: Montserrat; src: url('/src/Montserrat-VariableFont_wght.ttf'); 
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  color: #191BA9;
  background-color:  #ffffff;
  text-rendering: optimizeLegibility;

}

header {
  flex-basis: 10rem;
  flex-grow: 1;
  position: relative;
  padding: 1rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
}

section {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 70%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

section h1:first-child {
  margin-top: 0;
}

#logoImg {
  max-width: 100%;
  max-height: 100%;
}

#desc {
  margin-top: 0;
}

li {
  list-style-type: none;
  font-weight: 1000;
}

#legal {
  position: absolute;
  bottom: 2rem;
}

#social img {
  height: 1.5rem;
  padding-right: 0.1rem;
}

@media screen and (max-width: 45rem ) {
  main {
    margin: 0 auto;
    padding: 0.5rem;
  }

  header {
    height: 8rem;
    display: inline;
    padding-top: 0;
    padding-bottom: 0;
  }

  section {
    padding: 1rem 0;
  }

  li {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  #logoImg {
    float: right;
  }

  #social {
    position: absolute;
    bottom: 3.5rem;
  }

  #legal {
    bottom: 1rem;
  }
}